<style>
.btn {
  background-color: AliceBlue;
  border: 2;
  border-radius: 12px;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  background-color: LightBlue;
}
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/solid.min.css">
    <div style="text-align: center;">
        <button id="record" class="btn"><i class="fa-solid fa-microphone"></i> Record</button>
        <button id="stop" disabled="disabled" class="btn"><i class="fa-solid fa-microphone"></i> Stop</button>
        <button id="play" disabled="disabled" class="btn"><i class="fa-solid fa-microphone"></i> Play</button>
        <button id="save" disabled="disabled" class="btn"><i class="fa-solid fa-microphone"></i> Save</button>
    </div>